body{
    font-family: "Montserrat", serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden ;
}

.main{
    display: flex;
}

.sidebar{
    color: red;
}

.main-content{
    color: blue;
}

.music-player{
    color: yellow;
}